// ------------------- 
// variables 
// -------------------
// make one for font; 
// 				breakpoints;
// 				colors


$base__font-size : 16px;

// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;


// Functional color variables
$teal: #58E1C1;
$light-blue: #51DDFC;
$green: #63CC82;
$maroon: #E4757A;
$orange: #FD7856;
$purple: #927BC1;

$grey: #9D9D9D;

$themes: (
	'default': $light-blue,
	'success': $green,
	'error': $maroon,
	'warning': $orange,
	'info': $purple
);

// Grid display background colors

$grid-colors: (
	grid__col--12 : #80E8D1,
	grid__col--8  : #FB9F88,
	grid__col--7  : #EA9FA4,
	grid__col--6  : #45ABC8,
	grid__col--4  : #7EE6FD,
	grid__col--5  : #88D9A0,
	grid__col--2  : #927BC1,
	grid__col--3  : #DEB2EE
);

$color-primary: $light-blue;

$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	  light    : lighten($grey, 12%),
	  base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%)
	),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);


// $color-border-light : lighten($grey, 35%);
// $color-border-dark  : $yellow-orange;

$color-link-default : $light-blue;
$color-link-visited : darken($light-blue, 50%);

// $color-shadow  : rgba($black,.8);
$color-body         : $grey;

//
// font stacks
// 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$font-family--primary: 'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;
//$stack-open-sans: 'Open Sans', sans-serif;

// border-radius
$br : 5px;

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// asset paths
$path-img : '../images';


// Grid
$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1400px;

// Breakpoints
$brkpoint-sm    : 1px;
$brkpoint-md    : 768px;
$brkpoint-lg    : 1399px;


